/**
* CSS Reset
* This file contains a CSS reset to ensure consistent styling across different browsers.
*/

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}