
@use '../utils/placeholders' as *;
@use '../utils/colors';
@use '../utils/variables';

.navbar {

    height: variables.$navbar-height;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: inherit;

        @extend %container;
    }

    &--less-height {
        height: variables.$navbar-height-less;
    }

    &__button {
        padding: 11px 12px;
        font-size: 14px;
        font-weight: 500;

        border-radius: 6px;

        &-register {
            background-color: colors.$color-primary;

            &:hover {
                background-color: colors.$color-primary-hover;
            }
        }

        &-login {
            background-color: transparent;
            color: colors.$color-special-hover;

            &:hover {
                background-color: colors.$color-special2-background;
                color: colors.$color-special2-color;
            }
        }
    }

    &__auth {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &-links {
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__link {
        &:hover {
            color: colors.$color-special2-color;
        }
    }

    &__profile {
        width: 40px;
        height: 40px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}