@use '../utils/colors';

.page-header {

    margin-top: 64px;
    margin-bottom: 64px;
    
    text-align: center;

    &__title {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 1rem;

        span {
            color: colors.$color-primary;
        }
    }

    &__subtitle {
        font-size: 20px;
        color: colors.$populargames-number-color;
    }
}